:root {
    --background-color-1: #0c0c0c;
    --background-color-2: #131313;

    --psociety-color: #0df0dd;

    --border-color: #494949;

    --font-color-1: #e6e6e6;
    --font-color-2: #030303;

}

body {
    font-family: sans-serif;
    background: var(--background-color-1);
    scroll-behavior: smooth;
    font-family: 'Gabarito', cursive;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--font-color-1);
    padding: 30px;
    height: 5vh;
}
.h-main-textbox {
    color: var(--psociety-color);
}
.h-main-pages a {
    color: var(--font-color-1);
    margin-left: 12px;
    transition: all 0.5s;
}
.h-main-pages a:hover {
    color: var(--psociety-color);
    transform: scale(1.1);
}
/* Ladding Page */
.ladding-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    gap: 5px;
    color: var(--font-color-1);
}
.ladding-page h1 {
    font-size: 70px;
}
.ladding-page span {
    font-size: 20px;
    position: relative;
    bottom: 10px;
}
.ladding-page strong {
    color: var(--psociety-color);
}

/* Ladding Page / Social Medias */
.lp-social-medias {
    position: relative;
    bottom: 8px;
}
.lp-social-medias a {
    margin-left: 5px;
    color: var(--font-color-1);
    font-size: 20px;
    transition: all 0.5;
}
.lp-social-medias a:hover {
    color: var(--psociety-color);
}

/* About Me */
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100%;
    gap: 5em;
    background: var(--psociety-color);
    color: var(--font-color-2);
}

.mycara {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5em;
    gap: 15px;
}
.test-logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: var(--background-color-1);
}
.mycara span {
    font-size: 25px;
}

.a-textbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5em;
    gap: 15px;
}
.a-textbox h1 {
    font-size: 40px;
    color: var(--background-color-1);
}
.a-t-btn button {
    height: 40px;
    width: 170px;
    border: 1px solid var(--background-color-1);
    background: none;
    border-radius: 12px;
    color: var(--font-color-2);
    font-weight: 600;
    transition: all 0.5s;
}

.a-t-btn button:hover {
    background: var(--background-color-1);
    color: var(--psociety-color);
}

/* lastest-project */
.lastest-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 5em;
    width: 100%;
    color: var(--font-color-1);
    gap: 10px;
}
.lp-span {
    font-size: 30px;
}

.p-container {
    width: 100%;
    column-count: 2;
    column-gap: 1;
}
.l-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 22em;
    width: 36em;
    border-radius: 12px;
    gap: 15px;
    margin-bottom: 20px;
    break-inside: avoid;
    background: var(--background-color-2);
}
.lp-imgBox {
    height: 250px;
    width: 250px;
    background: var(--psociety-color);
    border-radius: 12px;
}
.lp-textbox {
    width: 45%;
}
.lp-textbox span {
    color: var(--psociety-color);
    font-weight: 600;
}
.lp-textbox p {
    font-weight: 300;
}
.lp-t-btn button {
    height: 30px;
    width: 140px;
    background: var(--psociety-color);
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: 8px;
    font-weight: 600;
    transition: all 0.5s;
}
.lp-t-btn button:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background: var(--psociety-color);
}

.fo-textbox {
    font-size: 25px;
}

.fo-social-medias a {
    font-size: 50px;
    color: var(--font-color-2);
    margin-left: 15px;
}

/* Responsive Mobile */
@media screen and (max-width: 480px){
    header {
        padding: 20px;
    }   
    .h-main-textbox h1 {
        font-size: 22px;
    }
    .h-main-pages {
        display: none;
    }

    .ladding-page h1 {
        font-size: 35px;
    }
    .ladding-page span {
        font-size: 15px;
    }
    .lp-social-medias a {
        font-size: 15px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .mycara {
        width: 90%;
        padding: 1em;
        text-align: center;
    }
    .a-textbox {
        width: 100%;
        padding: 1em;
        width: 90%;
    }
    .a-textbox h1 {
        text-align: center;
    }
    .a-t-btn button {
        margin-top: 5px;
    }

    .lastest-project {
        padding: 2em;
    }
    .p-container {
        width: 100%;
        padding: 0px;
    }
    .l-project {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    .lp-imgBox {
        height: 250px;
        width: 100%;
    }
    .lp-textbox {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .fo-textbox span {
        font-size: 15px;
    }
    .fo-social-medias a {
        font-size: 20px;
    }
}