:root {
    --background-color-0: rgb(255, 255, 255);
    --background-color-1: rgb(235, 235, 235);
    --background-color-2: rgb(15, 15, 15);
    
    --border-box: rgb(166,166,166);

    --main-color-0: rgb(245,142,72);

    --font-color-0: #000;
    --font-color-1: #ffffff;

    scroll-behavior: smooth;
}

body {
    background: var(--background-color-0);
    font-family: sans-serif;
    transition: all 0.5s;
}

.main-body {
  display: flex;
  flex-direction: column;
}

.divisionBorder {
    border-bottom: 2px solid var(--background-color-1);
    width: 100%;
}

/*------------- Header -------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.website-logo {
    transition: all 0.5s;
    font-size: 10px;
    color: var(--main-color-0);
}

.website-logo:hover {
    transform: scale(1.1);
}


/*------------- Main Product -------------*/
.main-product {
    margin: 30px auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    width: 80%;
    height: 26em;
    background: var(--main-color-0);
}

.mp-textbox {
  
}

.mp-textbox h1 {
  font-size: 20px;
}

.mp-textbox p {
  margin-top: 8px;
  font-size: 15px;
}

.mp-textbox button {
    height: 30px;
    width: 140px;
    font-size: 12px;
    background: var(--background-color-2);
    border: none;
    outline: none;
    color: var(--main-color-0);
    border-radius: 12px;
    margin-top: 8px;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
}

.mp-textbox button:hover {
    transform: scale(0.9);
}

.mp-img {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
}

/*------------- Filter -------------*/
.pl-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 90%;
  height: 40px;
  gap: 5px;
}

.pl-f-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 10px;
}

.pl-f-search input {
  width: 100%;
  height: 100%;
  outline: none;
  text-decoration: none;
  border: none;
  background: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--background-color-2);
  border-radius: 12px;
  padding: 10px;  
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  font-size: 15px;
  background: var(--background-color-2);
  color: var(--main-color-0);
  border: 1px solid var(--background-color-2);
  border-radius: 12px;
}

.search-icon button {
  background: none;
  outline: none;
  text-decoration: none;
  border: none;
  font-size: 15px;
  color: var(--main-color-0);
}

/*------------- Catalogue -------------*/
.products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pl-container {
    width: 80%;
    column-count: 4; /* Define o número de colunas */
    column-gap: 10px; /* Define o espaçamento entre as colunas */
}

.pl-c-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 14,6em;
  margin-bottom: 10px;
  break-inside: avoid;
  color: var(--font-color-0);
  background: var(--background-color-1);
  border-radius: 12px;
/*  box-shadow: 0 0 10px var(--border-box); */
}

.plc-box-img {
  width: 95%;
  padding: 10px;
  height: 10em;
  border-radius: 12px;
}

.plc-box-textbox {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  padding: 10px;
}

.plc-box-textbox span {
  font-size: 15px;
  font-weight: 700;
}

.plc-box-textbox strong {
  font-size: 12px;
  font-weight: 500;
}

.reviewBtn button {
  background: var(--main-color-0);
  border: none;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  color: var(--font-color-0);
  font-weight: 600;
  transition: all 0.5;
}

.reviewBtn button:hover {
  transform: scale(0.9);
}

/*------------- Footer -------------*/
footer {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background: var(--background-color-2);
}

.f-main-textbox {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    color: var(--main-color-0);
}

.f-social-medias {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 22px;
    border-left: 1px solid var(--main-color-0);
    padding-left: 20px;
}

.f-social-medias a {
    color: var(--font-color-1);
}

.z-c-asn16a-creator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color-1);
    gap: 4px;
    margin-top: 10px;
}

.z-c-asn16a-creator a {
    color: var(--main-color-0);
}

.product-info {
  display: flex;
  position: absolute;
  z-index: 1;
  background: red;
}

/* Responsive Mobile */
@media screen and (max-width: 480px) {
    header {
        width: 90%;
    }
    /* Main Product */
    .main-product {
        -webkit-flex-direction: row-reverse;
        flex-direction: column-reverse;
        height: 30em;
        gap: 20px;
        width: 90%;
    }
    .mp-textbox {
        margin: 0 auto;
    }
    .mp-img {
        width: 70%;
    }
    /* Filter */
    .pl-f-search {
      width: 100%;
    }
    /*  Catalogue */
    .pl-container {
        width: 90%;
        column-count: 2; /* Define o número de colunas */
        column-gap: 10px; /* Define o espaçamento entre as colunas */
    }
    .pl-c-box {
      width: 11,5em;
    }
    /* Footer */
    .f-main-textbox {
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
    
    .z-c-asn16a-creator {
      font-size: 13px;
    }
}