:root {
    --background-color-0: rgb(255, 255, 255);
    --background-color-1: rgb(235, 235, 235);
    --background-color-2: rgb(15, 15, 15);

    --main-color-0: rgb(255, 158, 93);

    --font-color-0: #000;
    --font-color-1: #ffffff;

    scroll-behavior: smooth;
}

body {
    background: var(--background-color-0);
    font-family: sans-serif;
    transition: all 0.5s;
}

.divisionBorder {
    border-bottom: 2px solid var(--background-color-1);
    width: 100%;
}

/*------------- Header -------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.website-logo {
    height: 50px;
    width: 50px;
    background: var(--main-color-0);
    border-radius: 50%;
    transition: all 0.5s;
}

.website-logo:hover {
    transform: scale(1.1);
}

.website-options a {
    color: var(--font-color-0);
    padding-left: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.website-options a:hover {
    color: var(--main-color-0);
    font-size: 15px;
}

#options-a {
    transition: all 0.5s;
}

#options-a:hover {
    transform: scale(1.2);
}

/*------------- Main Product -------------*/
.main-product {
    margin: 30px auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    width: 80%;
    height: 26em;
    background: var(--main-color-0);
}

.mp-textbox {
    gap: 12px;
    padding-top: 20px;
}
.mp-textbox h1 {
    font-size: 30px;
}

.mp-textbox p {
    font-size: 20px;
}

.mp-textbox button {
    height: 30px;
    width: 140px;
    font-size: 12px;
    background: var(--background-color-2);
    border: none;
    outline: none;
    color: var(--main-color-0);
    border-radius: 12px;
    margin-top: 5px;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mp-textbox button:hover {
    transform: scale(0.9);
}

.mp-img {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
}

/*------------- Catalogue -------------*/
.products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pl-container {
    width: 80%;
    column-count: 4; /* Define o número de colunas */
    column-gap: 10px; /* Define o espaçamento entre as colunas */
}

.pl-c-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16.4em;
    height: max-content;
    border-radius: 12px;
    background: var(--background-color-1);
    margin-bottom: 30px; /* Define o espaçamento entre os artigos */
    break-inside: avoid; /* Evita que um artigo seja dividido entre colunas */
    transition: all 0.5s;
}

.pl-c-box:hover  {
    background: var(--main-color-0);
}

.pl-c-box:hover .stars-p {
    color: var(--font-color-0);
}

.pl-c-box a {
    color: var(--font-color-0);
}

.plc-box-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.plc-box-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    bottom: 10px;
}

.stars-p {
    padding-top: 10px;
    color: var(--main-color-0);
    transition: all 0.5s;
}
.plc-box-textbox span {
    text-align: center;
    padding-top: 10px;
}

/*------------- Footer -------------*/
footer {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background: var(--background-color-2);
}

.f-main-textbox {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    color: var(--main-color-0);
}

.f-social-medias {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 22px;
    border-left: 1px solid var(--main-color-0);
    padding-left: 20px;
}

.f-social-medias a {
    color: var(--font-color-1);
}

.z-c-asn16a-creator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color-1);
    gap: 4px;
    margin-top: 10px;
}

.z-c-asn16a-creator a {
    color: var(--main-color-0);
}

/* Responsive Mobile */
@media screen and (max-width: 480px) {
    header {
        width: 90%;
    }
    /* Main Product */
    .main-product {
        -webkit-flex-direction: row-reverse;
        flex-direction: column-reverse;
        height: max-content;
        gap: 20px;
        width: 90%;
    }
    .mp-textbox {
        margin: 0 auto;
    }
    .mp-img {
        width: 70%;
    }
    /*  Catalogue */
    .pl-container {
        width: 90%;
        column-count: 1; /* Define o número de colunas */
        column-gap: 10px; /* Define o espaçamento entre as colunas */
    }
    .pl-c-box {
        width: 100%;
    }
    .plc-box-textbox span {
        font-size: 18px;
    }
    /* Footer */
    
}
